<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./output.css" />
    <link rel="stylesheet" href="./input.css" />
  </head>
  <body class="ubuntu-medium">
    <main class="px-20">
      <div class="flex flex-row items-center mt-4 my-4 2md:">
        <img src="./img/Group 1.svg" alt="DreamRoute Logo" class="w-12" />
        DreamRoute
      </div>
      <div class="">
        <p class="text-center text-green-400 text-xl font-bold">
          Start Your Adventure:
          <span class="italic font-medium">Create Your Travel Account Today!</span>
        </p>
        <div class="flex flex-row gap-3 mt-4">
          <div class="w-[50%]">
            <p class="text-2xl mb-4">
              User Information
            </p>
            <form action="/user/profile" method="post" class="w-full">
              <div class="flex flex-col w-[]">
                <input
                  required
                  type="text"
                  name="first_name"
                  placeholder="First Name"
                  class="px-4 py-2 mb-3 border rounded-2xl focus:outline-none"
                />
                <input
                  required
                  type="text"
                  name="last_name"
                  placeholder="Last Name"
                  class="px-4 py-2 mb-3 border rounded-2xl focus:outline-none"
                />
                <input
                  required
                  type="text"
                  name="phone"
                  placeholder="Phone number"
                  class="px-4 py-2 mb-3 border rounded-2xl focus:outline-none"
                />
                <select
                  name="country"
                  id=""
                  class="mb-3 py-3 px-3 border rounded-2xl"
                >
                  <option value="">Select Country</option>
                  <option value="nigeria">Nigeria</option>
                  <option value="nigeria">America</option>
                  <option value="nigeria">cameroon</option>
                  <option value="nigeria">China</option>
                  <option value="nigeria">Russia</option>
                  <option value="nigeria">Uk</option>
                </select>
                <div class="px-4 py-4 rounded-2xl border mt-2 mb-3">
                  <label class="">Marital Status</label>
                  <div class="flex items-center gap-x-4">
                    <div class="">
                      <input
                        required
                        id="marital_status"
                        name="marital_status"
                        value="single"
                        type="radio"
                      />
                      <label for="single">Single</label>
                    </div>
                    <div>
                      <input
                        required
                        id="marital_status"
                        name="marital_status"
                        value="married"
                        type="radio"
                      />
                      <label for="married">Married</label>
                    </div>
                  </div>
                </div>
                <input
                  required
                  type="text"
                  name="travel_interest"
                  placeholder="Travel Interests. E.g Adventure, Relaxation, Business"
                  class="px-4 py-2 mb-3 border rounded-2xl focus:outline-none"
                />
                <input
                  required
                  type="text"
                  name="destination_preferences"
                  placeholder="Destination Preferences"
                  class="px-4 py-2 mb-3 border rounded-2xl focus:outline-none"
                />
                <input
                  required
                  type="text"
                  name="travel_frequency"
                  placeholder="Travel Frequency"
                  class="px-4 py-2 mb-3 border rounded-2xl focus:outline-none"
                />
              </div>
            </form>
          </div>
          <div class="h-screen w-1/2 mt-8">
            <p class="font-bold w-[85%] text-2xl mb-3">
              Unlock Your Next
              <span class="text-green-400">Adventure</span>- Join Us
              <br />and Travel Smarter, Explore Better!
            </p>
            <div class="w-full">
              <img src="./img/Grouped1.png" alt="" />
            </div>
          </div>
        </div>
        <div class="mt-10">
          <p class="font-bold text-2xl">
            Terms and Conditions
          </p>
          <p class="mt-2">
            Last Updated: September 2nd, 2024
          </p>
          <p class="text-justify font-medium mt-4 text-lg">
            Welcome to DreamRoute. These Terms and Conditions govern your access
            to and use of our website and the services we provide. By accessing
            or using our Site and Services, you agree to be bound by these
            Terms. If you do not agree with any part of these Terms, please do
            not use our Site or Services.
          </p>
        </div>
        <div class="">
            <a href="/dashbord">
          <button
            type="submit"
            class="w-[10%] py-2 mb-4 mt-4 font-normal text-white bg-[#D66214] rounded-xl hover:bg-white-400 hover:border border-[#D66214]"
          >
            I ACCEPT
          </button>
            </a>
          <button
            type="submit"
            class="w-[10%] py-2 mb-4 mt-4 font-normal text-[#D66214] border border-[#D66214] bg- bg-white-400 rounded-xl hover:bg-[#D66214] hover:text-white"
          >
            DECLINE
          </button>
        </div>
      </div>
    </main>
    <div class="w-full bg-[#155956] py-20 px-16 mt-10">
      <p>
        Start Here, Explore Everywhere: Sign Up and Take Off!
      </p>
    </div>

  </body>
</html>