
    <div class="w-full bg-[#155956] text-xl py-8 box-border">
        <div class="xsm:w-[95%] m-auto bg-[url('./img/footer.svg')] bg-center">
            <div class="flex gap-3 xsm:flex-col xsm:items-start xxm:flex-row xxm:items-center text-white items-center mb-10 box-border pt-5">
                <img src="./img/Group 1.svg" alt="">
                <p class="ubuntu-light !italic">Your trusted partner in exploring the world, offering seamless vacation planning, hotel reservations, and car rentals.</p>
            </div>
            <div class="grid lg:grid-cols-4 xsm:grid-cols-1 sm:grid-cols-2 xxm:justify-between">
                <div class="xsm:w-[100%] xxm:w-[45%] lg:w-[60%] xl:w-full sm:w-[100%] mb-7 text-white ubuntu-regular">
                    <h2 class="font-bold text-white mb-5">QUICK LINKS</h2>
                    <ul class="flex flex-col gap-3">
                        <li><a href="">Home</a></li>
                        <li><a href="">Plan Your Vacation</a></li>
                        <li><a href="">Destinations</a></li>
                        <li><a href="">Hotel Reservations</a></li>
                        <li><a href="">Car Rentals</a></li>
                        <li><a href="">Vacation Packages</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="xsm:w-[100%] xxm:w-[45%] lg:w-[60%] xl:w-full sm:w-[100%] mb-7 text-white ubuntu-medium">
                    <h2 class="font-bold text-white mb-5">CUSTOMER SUPPORT</h2>
                    <ul class="flex flex-col gap-3">
                        <li><a href="">Help Center</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Cancellation Policy</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="xsm:w-[100%] xxm:w-[45%] lg:w-[60%] xl:w-full sm:w-[100%] mb-7 text-white ubuntu-medium">
                    <h2 class="font-bold text-white mb-5">CONTACT INFORMATION</h2>
                    <ul class="flex flex-col gap-3">
                        <li><a href="">Phone: +1-800-123-4567</a></li>
                        <li><a href="">Email: support@dreamroute.com</a></li>
                        <li><a href="">Address: 1234 Travel Lane, Wanderlust City, <br> TX 78901, USA</a></li>
                    </ul>
                </div>
                <div class="xsm:w-[100%] xxm:w-[45%] lg:w-[60%] xl:w-full sm:w-[100%] xmd:grow xl:grow-0 mb-7 text-white ubuntu-medium">
                    <h2 class="font-bold text-white mb-5">NEWSLETTER SIGNUP</h2>
                    <p>Subscribe to our newsletter:</p>
                    <p class="ubuntu-regular italic">Get the latest travel deals, tips, and inspiration delivered straight to your inbox.</p>
                </div>
            </div>
            <div class="md:flex md:items-center md:justify-between lg:w-[70%] xl:w-[50%] float-right">
                <input type="text" name="" id="" placeholder="EMAIL ADDRESS" class="rounded-xl outline-none px-3 ubuntu-medium text-[#D66214] xsm:w-[100%] xsm:mb-2 md:w-[75%] xl:w-[70%] h-[50px]">
                <button class="uppercase bg-[#D66214] px-3 py-2 xsm:w-[100%] md:w-[20%] xl:w-[25%] rounded-xl text-white mb-1 h-[50px]">Subscribe</button>
            </div>
            <hr class="my-2 clear-both">
            <div class="flex justify-between xsm:flex-col text-white">
                <p>© 2024 DREAMROUTE. All Rights Reserved.</p>
                <div class="flex gap-3">
                    <a href=""><img src="./img/ig.png" alt=""></a>
                    <a href=""><img src="./img/x.png" alt=""></a>
                    <a href=""> <img src="./img/facebook.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
