   <nav class="ubuntu-regular w-full ">
        <div class="m-auto pt-4 px-7 flex flex-row items-center justify-between box-border md:max-w-[700px] 2md:max-w-[800px] xmd:max-w-[900px] sm:max-w-[100%] xm:max-w-[100%]  xsm:p-0 lg:max-w-[1300px] lg:px-4 ">
            <div class="flex flex-row items-center">
                <img src="./img/Group 1.svg" alt="" class="">
                DreamRoute
            </div>
            <div class="xsm:hidden lg:block">
                <ul class="flex flex-row items-center list-none gap-3">
                    <li class="flex flex-row items-center gap-3">
                        <a href="" class="no-underline text-black">Travel Guides</a>
                        <img src="./img/Vector 9.png" alt="">
                    </li>
                    <li class="flex flex-row items-center gap-3">
                        <a href="" class="no-underline text-black">Special Offers</a>
                        <img src="./img/Vector 9.png" alt="">
                    </li>
                    <li class="flex flex-row items-center gap-3">
                        <a href="" class="no-underline text-black">Customer Support</a>
                        <img src="./img/Vector 9.png" alt="">
                    </li>
                    <li class="flex flex-row items-center gap-3">
                        <a href="/aboutus" class="no-underline text-black" id="#aboutus">About Us</a>
                    </li>
                </ul>
            </div>
            <div class="lg:block xsm:hidden">
                <div class="flex items-center gap-7">
                    <a href="/signup">
                    <button class="bg-[#D66214] text-white px-3 py-2 rounded-lg">Get Started</button>
                    </a>
                    <button class="bg-[#D66214] text-white px-3 py-2 rounded-lg">Book a Hotel</button>
                </div>
            </div>
            <div class="xsm:block lg:hidden">
                <img src="./img/Menu.png" alt="">
            </div>
        </div>
        
    </nav>
